:root {
  --_fuente-primaria:   oklch(50.97% 0.1263  153.54);
  --_fuente-secundaria: oklch(26.60% 0.07605 268.60);
  --_fuente-terciaria:  oklch(71.60% 0.09773  74.03);

  --color-primario:   var(--_fuente-primaria);
  --color-secundario: var(--_fuente-secundaria);
  --color-terciario:  var(--_fuente-terciaria);

  --color-sobre-primario:   oklch(from var(--_fuente-primaria) 100% calc(c * 0.04) h);
  --color-sobre-secundario: oklch(from var(--_fuente-secundaria) 100% calc(c * 0.04) h);
  --color-sobre-terciario:  oklch(from var(--_fuente-terciaria) 15%  calc(c * 0.04) h);

  --color-secundario-suave:       oklch(from var(--_fuente-secundaria) 91% calc(c * 0.5) h);
  --color-sobre-secundario-suave: oklch(from var(--_fuente-secundaria) 12% calc(c * 0.3) h);
  --color-terciario-suave:        oklch(from var(--_fuente-terciaria) 95% calc(c * 0.35) h);
  --color-sobre-terciario-suave:  oklch(from var(--_fuente-terciaria) 25% calc(c * 0.5) h);

  --color-fondo:        oklch(from var(--_fuente-terciaria) 99%  calc(c * 0.06) h);
  --color-superficie:   oklch(from var(--_fuente-terciaria) 96%  calc(c * 0.14) h);
  --color-texto:        oklch(from var(--_fuente-secundaria) 18% calc(c * 0.55) h);
  --color-texto-suave:  oklch(from var(--_fuente-secundaria) 45% calc(c * 0.30) h);
  --color-borde:        oklch(from var(--_fuente-terciaria) 86%  calc(c * 0.22) h);

  --color-error:              oklch(40% 0.22 25);
  --color-sobre-error:        oklch(100% 0 25);
  --color-error-suave:        oklch(91% 0.10 25);
  --color-sobre-error-suave:  oklch(12% 0.15 25);

  --color-exito:              oklch(40% 0.15 145);
  --color-sobre-exito:        oklch(100% 0 145);
  --color-exito-suave:        oklch(91% 0.08 145);
  --color-sobre-exito-suave:  oklch(12% 0.12 145);

  --color-info:               oklch(45% 0.15 230);
  --color-sobre-info:         oklch(100% 0 230);
  --color-info-suave:         oklch(91% 0.06 230);
  --color-sobre-info-suave:   oklch(12% 0.10 230);

  --color-advertencia:              oklch(50% 0.15 95);
  --color-sobre-advertencia:        oklch(12% 0 95);
  --color-advertencia-suave:        oklch(91% 0.10 95);
  --color-sobre-advertencia-suave:  oklch(12% 0.12 95);
}
